/* stickyfooter */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.center {
  margin: auto;
  width: 80%;
  max-width: 980;
}

ul {
}

li {
  float: left;
  padding: 20px;
  cursor: pointer;
  /* add cursor */
}

.select-container {
  margin: auto;
  padding: 5px 0px 50px;
}

.gallery_divider{
  height: 25px;

}

.parallax-container {
  height: 800px;
}

.filtr-item img{
  width:300px;
}

.skillBG{
}

#heroTxt {
  font-family: 'Balthazar', serif;
}

.svgcontainer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height:400px;
}
