
.center {
  margin: auto;
  width: 80%;
  max-width: 980;
}

.parallax-container {
  height: 100vh; /* cover first screen */
}

.gallery_divider{
  height: 25px;
}

.select-container {
  margin: auto;
  padding: 5px 0px 50px;
}

li {
  float: left;
  padding: 20px;
  cursor: pointer;
  /* add cursor for select*/
}

.filtr-item img{
  width:300px;
}

#heroTxt {
  font-family: 'Balthazar', serif;
}

.svgcontainer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height:400px;
}
